body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #b2ac88;
    border-bottom: 2px solid black;
    padding: 20px;
    max-height: 70px;
}

header img {
    max-width: 100%;
    height: 70px;
}

.slideshow {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.slideshow > div {
    display: none;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.slideshow > div.active {
    display: block;
}

.slideshow1 {
    background-image: url('assests/slideshow1.jpg');
}

.slideshow2 {
    background-image: url('assests/slideshow2.jpg');
}

.slideshow3 {
    background-image: url('assests/slideshow3.jpg');
}

.slideshow > div h1,
.slideshow > div p {
    display: block;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0 20px;
}

.slideshow > div h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.slideshow > div p {
    font-size: 1.1em;
}

.prev {
    left: 10px;
}


