body {
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    background-color: #252525;
    padding: 20px;
    max-height: 70px;
    position: relative;
    z-index: 1;
}

header img {
    max-width: 100%;
    height: 70px;
}


.slideshow {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slideshow > div {
    display: none;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.slideshow > div.active {
    display: block;
}

.slideshow1 {
    background-image: url('assests/slideshow1.jpg');
}

.slideshow2 {
    background-image: url('assests/slideshow2.jpg');
}

.slideshow3 {
    background-image: url('assests/slideshow3.jpg');
}

.slideshow > div h1,
.slideshow > div p {
    display: block;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.slideshow > div h1 {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.slideshow > div p {
    font-size: medium;
    border-radius: 0 0 5px 5px;
}

.slideshow button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 15px 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
}

.slideshow button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.prev img{
    width: 20px;
    height: 20px;
}

.next {
    right: 10px;
}
.next img{
    width: 20px;
    height: 20px;
}


.Introduktion{
    max-width: 62%;
    margin-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.Introduktion h1{
    text-decoration: underline;
    font: bold;
}

.biggerinctruction{
    background-color: #252525;
    padding-top: 50px;
    padding-bottom: 50px;
    color : white;
}

canvas {
    max-width: 100%;
    display: block;
}


.biggerkurs {
    background-color: white;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: flex-start;
}

.kurs {
    width: 800px;
    height: 500px;
    position: relative;
    flex-shrink: 0;
    margin-left: 5%;

}

.textOmKurs{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1%;
    margin-left: 2%;
    max-width: 400px;
    padding: 20px;
    overflow: hidden;
    height: max-content;
    flex: 1;
    background-color: rgb(214, 213, 213);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.filipIntervju{
    background-color: #252525;
    padding: 40px 20px;
    display: flex;
    flex-wrap: nowrap;
    color: white;
}

.intervjuer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    margin-left: 10%;
}

.intervjuer h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

.intervjuBildFilip {
    width: 350px;
    height: 350px;
    background-image: url('assests/Filip.jpg');
    background-size: cover;
    background-position: center;
}
.intervjuBildFilip:hover {
    cursor: pointer;
}


.intervjuer ul {
    flex: 1;
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
}

.intervjuer li{
    font-size: small;
}

.AugustIntervju{
    background-color: white;
    padding: 40px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}
.intervjuBildAugust {
    width: 350px;
    height: 350px;
    background-image: url('assests/August.jpg');
    background-size: cover;
    background-position: center;
}

.intervjuBildAugust:hover {
    cursor: pointer;
}

.augustTitle{
    margin-bottom: -1%;
}

footer {
    background-color: #252525;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white

}

footer a{
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
footer p {
    padding: 0px;
    margin-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}